.header {
  background-color: var(--color-secondary);
  display: flex;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  padding: 32px;
  min-height: 37px;
  position: relative;
}

.headerText {
  color: var(--color-white);
  font-size: 34px;
  font-weight: 600;
  margin: 0;
}
