.sidebar{
    padding-left: 25px;
    padding-right: 25px;
   min-height: 100vh;
   border-right: 1px solid gray;
}
.brandLogo{
    border-bottom: 1px solid white;
    padding-bottom: 32px;
}

.brandIcon{
    width: 40px;
    height: 40px;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    align-items: center;
}
.sidebarIcon{
    margin-bottom: 8px;
}

.sidebarItemText{
    font-size: 12px;
    font-weight: 600;
}