.sidebar {
  margin: 0px 8px;
  min-height: 100vh;
}
.brandLogo {
  border-bottom: 1px solid #04A1FF;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 16px;
  width: 46px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  padding: 16px 0px;
  align-items: center;
}
.sidebarIcon {
  margin-bottom: 8px;
}

.sidebarItemText {
  font-size: 13px;
  font-weight: 600;
}

.sidebarNavWrapper {
  padding-top: 28px;
  background-color: '#d3d3d3';
}

.optionWrapper {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;

  border: 8px;
}

.optionItem {
  padding: 16px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.optionItem:last-child {
  border-bottom: none;
}
.sidebarItemWrapperDark {
  padding: 8px;
  margin-bottom: 24px;
}

.sidebarItemWrapperDark:last-child {
  margin-bottom: 0px;
}
.sidebarItemWrapperDark:hover {
  border-radius: 8px;
  background: #04a1ff;
}
.sidebarItemWrapperActiveDark {
  border-radius: 8px;
  background: #04a1ff;
  padding: 8px;
  margin-bottom: 24px;
}
.sidebarItemNav {
  text-decoration: none;
}

.sidebarItemWrapperLight {
  padding: 8px;
  margin-bottom: 24px;
}

.sidebarItemWrapperLight:last-child {
  margin-bottom: 0px;
}
.sidebarItemWrapperLight:hover {
  border-radius: 8px;
  background: #fff;
}
.sidebarItemWrapperActiveLight {
  border-radius: 8px;
  background: #fff;
  padding: 8px;
  margin-bottom: 24px;
}

.iconDark {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
    hue-rotate(307deg) brightness(103%) contrast(101%);
}

.iconLight {
  filter: brightness(0) saturate(100%) invert(45%) sepia(77%) saturate(1638%)
    hue-rotate(176deg) brightness(99%) contrast(105%);
}
.darkTheme {
  background-color: #0f0f0f; /* Dark mode background color */
}

.lightTheme {
  background-color: #04a1ff;
  width: '100%';
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
