.dashboardWrapper {
  display: grid;
  grid-template-columns: 89px 1fr;
}

.secondChild {
  display: grid;
  grid-template-rows: 80px 1fr;
  overflow: hidden;
}
.darkTheme {
  
  background-color: #0F0F0F; /* Dark mode background color */
 
  
}

